{% extends 'partials/base.html' %}
{% block content %}
<div class="min-h-screen">
    <div class="w-full h-120 bg-blue-700 veterinaria:bg-purple-500 medicina:bg-green-500 esportes:bg-red-500 cosmeticos:bg-yellow-500 flex items-center justify-center">
        <p class="hidden macrosul:block text-white font-semibold text-3xl">Home Macrosul</p>
        <p class="hidden medicina:block text-white font-semibold text-3xl">Medicina</p>
        <p class="hidden veterinaria:block text-white font-semibold text-3xl">Veterinária</p>
        <p class="hidden esportes:block text-white font-semibold text-3xl">Esportes</p>
        <p class="hidden cosmeticos:block text-white font-semibold text-3xl">Cosméticos</p>
    </div>

    <div class="bg-gray-200 w-full h-200 flex items-center">
        <div class="w-11/12 mx-auto grid grid-cols-4 gap-5">
            <div class="bg-white cursor-pointer hover:scale-105 transition duration-300 w-11/12 rounded border-2 border-gray-300 shadow-xl p-3">
                <div>
                    <img src="https://s3.sa-east-1.amazonaws.com/macrosul.media/itens/estetoscopios/iii-pro/I04221/iii-pro-adulto-rosa-perolizado-205-404.png" alt="">
                </div>
                <div>
                    <p class="text-center font-semibold text-blue-700 veterinaria:text-purple-500 medicina:text-green-500 esportes:text-red-500 cosmeticos:text-yellow-500 text-3xl">III Pro</p>
                </div>
            </div>

            <div class="bg-white cursor-pointer hover:scale-105 transition duration-300 w-11/12 rounded border-2 border-gray-300 shadow-xl p-3">
                <div>
                    <img src="https://s3.sa-east-1.amazonaws.com/macrosul.media/itens/otoscopios/otoscopios-vet/I04504/otoscopio-veterinario-omni-vet-led-fibra-optica-cor-menta-252-987.png" alt="">
                </div>
                <div>
                    <p class="text-center font-semibold text-blue-700 veterinaria:text-purple-500 medicina:text-green-500 esportes:text-red-500 cosmeticos:text-yellow-500 text-3xl">Omni Vet</p>
                </div>
            </div>

            <div class="bg-white cursor-pointer hover:scale-105 transition duration-300 w-11/12 rounded border-2 border-gray-300 shadow-xl p-3">
                <div>
                    <img src="https://s3.sa-east-1.amazonaws.com/macrosul.media/itens/bolas/bolas-de-futebol/I04794%20/bola-de-futebol-select-numero-10-branca-e-verde-339-857.png" alt="">
                </div>
                <div>
                    <p class="text-center font-semibold text-blue-700 veterinaria:text-purple-500 medicina:text-green-500 esportes:text-red-500 cosmeticos:text-yellow-500 text-3xl">Número 10</p>
                </div>
            </div>

            <div class="bg-white cursor-pointer hover:scale-105 transition duration-300 w-11/12 rounded border-2 border-gray-300 shadow-xl p-3">
                <div>
                    <img src="https://s3.sa-east-1.amazonaws.com/macrosul.media/itens/skincare/tonico-extrato-de-feijao/I04841/tonico-facial-em-almofada-extrato-de-feijao-393-990.png" alt="">
                </div>
                <div>
                    <p class="text-center font-semibold text-blue-700 veterinaria:text-purple-500 medicina:text-green-500 esportes:text-red-500 cosmeticos:text-yellow-500 text-3xl">Toner Pad</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}