{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Style</title>
    <link href="{% static 'css/main.min.css' %}" rel="stylesheet">
</head>
<body>

    <header>
        <div class="bg-blue-600 w-full h-20 text-center font-semibold text-white text-2xl">
            <p>CABEÇALHO</p>
        </div>
    </header>

    <main class="min-h-screen">
        {% block content %}
        {% endblock content %}
    </main>
   
    <footer class="bg-gray-600 w-full h-96">
        <p>RODAPÉ</p>
    </footer>
    
</body>
</html>